.Alert{
	width:100%;
	min-height:3vh;
	background:rgba(0,0,0,0.8);
	color:#FFF;
	position: fixed;
	bottom:0px;
	padding-left:2%;
}
.Alert i{
	float:left;
	margin-right:5px;
}
.Alert p{
	margin-top:4px;
	margin-bottom:0px;
}

