.BetterView{
	background: #30326F;
	color: #EDE4CD;
	min-height:40vh;
}
.BetterView .text{
	text-align: center;
	padding-top: 20vh;
	padding-bottom: 20vh;
}
.BetterView .text a{
	margin-top:5%;
}
.btn.btn-bv{
	background: #D1484D;
}
a.btn.btn-bv,a:hover.btn.btn-bv,a:visited.btn.btn-bv{
	color:#FFF;
}