.Bio{	
	width:100vw;
	min-height:100vh;
	padding-top: 5vh;
	padding-bottom:5vh;
}
.Bio .col-md-6:first-child{	
	text-align: center;
}
.Bio .profile{
	width:300px;
	height:300px;
	border-radius: 250px;
	margin-top:5%;
	margin-bottom:5%;
}
.Bio .carousel{
	width:100%;
	min-height: 100%;	
}
.Bio .carousel .text{
	width:100%;	
}
.Bio .carousel .carousel-inner{
	padding-top:5vh;
	padding-bottom:5vh;
}
