.Img{
	margin-left:auto;
	margin-right:auto;
	width: 300px;
	height: 300px;
}

.Img.snowboardingApp{
	background: url(../imgs/snowshredder1.png) no-repeat center center;	
	background-size: contain;
}
.Img.engineApp{
	background: url(../imgs/engine.jpg) no-repeat center center;	
	background-size: contain;
}
/* sm */
@media screen and (min-width: 576px){

}

/* md */
@media screen and (min-width: 768px){
	
}

/* lg */
@media screen and (min-width: 992px){
	.Img{
		width:400px;
		height:400px;
	}
}

/* xl */
@media screen and (min-width: 1200px){

}