.Intro{
	background:url(../imgs/city.jpg) no-repeat center center;
	background-attachment:fixed;
	width:100vw;
	height:100vh;
}
.Intro .crest{
	/*width: 60%;*/
	min-height: 40%;
	background: #000;
	padding:2%;
	margin-left:auto;
	margin-right:auto;
	margin-top:15vh;
}
.Intro .crest .inner_crest{
	border: 5px solid #FFF;
	width:100%;
	min-height:45vh;
	padding:2%;
	color:#FFF;
	border-bottom-left-radius: 20px;
	border-top-right-radius :20px; 
	text-align: center;
}
.Intro .inner_crest h1{
	margin-top:5vh;
	
}
.Intro .inner_crest h1,h2,h3{
	margin-bottom: 5vh;
}
