.Mobile{
	min-height:100vh;
}
.Mobile .col-12:nth-child(2){
	padding-left:0px;
	padding-right:0px;
}
.Mobile .carousel-item{
	min-height:90vh;
	padding-top:10vh;
	padding-bottom:10vh;
}
/*.Mobile .carousel-item[data-theme=orange]{
	background: #e37222;
	color:#FFF;
}*/
.Mobile .carousel{
	min-height:90vh;
}

.Mobile .carousel a,
.Mobile .carousel a:hover,
.Mobile .carousel a:visited,
.Mobile .carousel a:link{
	color:#000;
	margin: 5%;
}
.Mobile .carousel .tech{
	margin-top:5%;
}

.Mobile .carousel .icons {
	text-align: center;
}
.Mobile .carousel .icons i{
	font-size: 1.5em;	
} 
.Mobile .carousel .icons p{
	font-size: 0.8em;

}