.BulkContent{
  padding-bottom:0px;
}
.NewSkills{
  padding-top:0px;
}
.NewSkills .mainContent{
  padding-top: 5%;
  padding-bottom:5%;
  min-height: 50vh;
}
.NewSkills .mainContent .header {
  height:inherit;

}
.NewSkills .mainContent .col-4{
  text-align: center;
  padding-top:5%;
  padding-bottom:5%;
}
.NewSkills .mainContent .header h2 {
  font-weight: bold;
  text-decoration: underline;
}
.NewSkills .footerContent .footer,
.Guide .footer{
  width:100%;
}
.NewSkills .footerContent .btn,
.Guide .footer .btn{
  display: block;
  margin-left:auto;
  margin-right:auto;
  cursor: pointer;
}

.Guide{
  background: #E9E9E9;
  overflow: hidden;
  padding-top:0px;
  padding-bottom:0px;

}
.Guide .header{
  padding-top:5%;
}
.Guide.slideUp{
  animation-name: slideUp;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-direction: reverse;
}
.Guide.slideDown{
  animation-name: slideDown;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease;
}
.Guide .header{
  text-align: center;
  font-weight: bold;
}
.Guide .screenShortDesktop,
.Guide .screenShortMobile{
  margin-left:auto;
  margin-right: auto;
  display: block;
  margin-bottom:10%;
}
.Guide .screenShortDesktop{
  width:272px;
  height:134px;
}
.Guide .screenShortMobile{
  width: 144px;
  height:256px;

}

@keyframes slideUp {
  from {
    height:0px;
  }
  to{
    height: 2300px;
  }
}
@keyframes slideDown {
  from {
    height:0px;
  }
  to{
    height: 2300px;
  }
}
/*  special */
@media only screen and (min-width: 400px){
  @keyframes slideUp {
    from {
      height:0px;
    }
    to{
      height: 2100px;
    }
  }
  @keyframes slideDown {
    from {
      height:0px;
    }
    to{
      height: 2100px;
    }
  }
}
/* sm */
@media only screen and (min-width:576px){
  @keyframes slideUp {
    from {
      height:0px;
    }
    to{
      height: 1800px;
    }
  }
  @keyframes slideDown {
    from {
      height:0px;
    }
    to{
      height: 1800px;
    }
  }
}
/* md */
@media only screen and (min-width: 768px){
  .NewSkills .mainContent .header h2 {
    transform: rotate(-90deg);
    top: 80px;
    right: 0px;
    position: absolute;
    white-space: nowrap;
  }
  .NewSkills .mainContent .header p{
    transform: rotate(-90deg);
    font-size:10px;
    white-space: nowrap;
    top: 55px;
    right: 0px;
    position: absolute;
  }
  @keyframes slideUp {
    from {
      height:0px;
    }
    to{
      height: 2000px;
    }
  }
  @keyframes slideDown {
    from {
      height:0px;
    }
    to{
      height: 2000px;
    }
  }
}

/* lg */
@media only screen and (min-width: 992px){

}
/* xl */
@media only screen and (min-width: 1200px){
  @keyframes slideUp {
    from {
      height:0px;
    }
    to{
      height: 1600px;
    }
  }
  @keyframes slideDown {
    from {
      height:0px;
    }
    to{
      height: 1600px;
    }
  }
}
