.Tech{
	min-height:100vh;
	padding-top:5vh;
}
.Tech .row:nth-child(2) .icons{
	padding-top:5vh;
}
.Tech .row:nth-child(2),
.Tech i{
	color:#000;
	font-size: 2em;
	text-align: center;	
}
.Tech .row:nth-child(2) p{
	color:#000;
	font-size: 0.7em;
	text-align: center;	
}