.Web{
	min-height:100vh;	
}
.Web .header,
.Mobile .header,
.Tech .header,
.Contact .header{
	text-align: center;
	padding-top:5vh;
	padding-bottom:5vh;
}
.Web .header h2,
.Mobile .header h2,
.Tech .header h2,
.Contact .header h2{
	text-decoration: underline;	
	text-transform: uppercase;
}
.Web .header i,
.Mobile .header i,
.Tech .header i,
.Contact .header i  {
	font-size: 10em;
	margin-bottom:5vh;
}
.Web .carousel .col-12{
	min-height:50vh;
	text-align: center;
}
.Web .carousel .linkWrapper{
	text-align: right;
}
.Web .carousel h3{
	text-decoration: underline;
}
.Web .carousel h3,
.Web .carousel p,
.Web .carousel .linkWrapper,
.Web .carousel .iconContainer{	
	padding-bottom:5vh;
}
